<html>
<head>
    <title>Gallery</title>
    <link href="~/Assets/bundle.css" rel="stylesheet" />
</head>
<body>
@RenderBody()
<div>
    <script async src="~/Assets/bundle.js"></script>
    @RenderSection("scripts", false)
</div>
</body>
</html>